<section class="span6">
	<article>
		<section class="hero2 hero-center background-80 height300" style="background-image:url('./img/sample-image-14.jpg');">
			<div class="overlay-dark">
				<article>
					<div class="centerV">
						<p>Since 2001, we've helped millions of people start their businesses and protect their families.We'd love to help you too.</p>
					</div>
				</article>
			</div>
		</section>
	</article>
	<article>
		<section class="hero2 hero-center background-60 height300" style="background-image:url('./img/sample-image-9.jpg');">
			<div class="overlay-dark">
				<article>
					<div class="centerV">
						<p>Since 2001, we've helped millions of people start their businesses and protect their families.We'd love to help you too.</p>
					</div>
				</article>
			</div>
		</section>
	</article>
	<article>
		<section class="hero2 hero-center background-50 height300" style="background-image:url('./img/sample-image-10.jpg');">
			<div class="overlay-dark">
				<article>
					<div class="centerV">
						<p>Since 2001, we've helped millions of people start their businesses and protect their families.We'd love to help you too.</p>
					</div>
				</article>
			</div>
		</section>
	</article>
	<article>
		<section class="hero2 hero-center background-60 height300" style="background-image:url('./img/sample-image-12.jpg');">
			<div class="overlay-dark">
				<article>
					<div class="centerV">
						<p>Since 2001, we've helped millions of people start their businesses and protect their families. We'd love to help you too.</p>
					</div>
				</article>
			</div>
		</section>
	</article>
	<article>
		<section class="hero2 hero-center background-30 background-center height300" style="background-image:url('./img/sample-image-13.jpg');">
			<div class="overlay-dark">
				<article>
					<div class="centerV">
						<p>Since 2001, we've helped millions of people start their businesses and protect their families. We'd love to help you too.</p>
					</div>
				</article>
			</div>
		</section>
	</article>
	<article>
		<section class="hero2 hero-center background-80 height300" style="background-image:url('./img/sample-image-3.jpg');">
			<div class="overlay-dark">
				<article>
					<div class="centerV">
						<p>Since 2001, we've helped millions of people start their businesses and protect their families. We'd love to help you too.</p>
					</div>
				</article>
			</div>
		</section>
	</article>
</section>