<section class="center-lg nopad">
	<div>
		<article>
			<!-- Tab Links -->
			<section class="tabs tabs-horizontal tabs3 tabs-mobile-off">
				<article>
					<section>
						<article data-tab="tab-example-1" class="tab-link active"><a>Features</a></article>
						<article data-tab="tab-example-2" class="tab-link"><a>Reviews</a></article>
						<article data-tab="tab-example-3" class="tab-link"><a>Samples</a></article>
					</section>
				</article>
			</section>
			<!-- /Tab Links -->

			<!-- Tab Content -->
			<section class="tabs_content tabs-mobile-off">
				<article class="tab-example-1 tab-content active">
					<section class="col2-2_1-left">
						<div>
							<article>
								<div>
									<h2>Tab 1</h2>
									<p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer sed dapibus enim pellentesque porta commodo justo et interdum. Morbi vel massa vel purus volutpat ornare vitae fringilla mi. Aliquam faucibus elit vel enim tempor id gravida lorem tristique. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam imperdiet felis eget mauris tincidunt placerat nec ut mauris.</p>
								</div>
							</article>
							<aside>
								<p><img src="../img/sample-image-4.jpg"></p>
							</aside>
						</div>
					</section>
				</article>
				<article class="tab-example-2 tab-content">
					<section class="col2-1_1-left">
						<div>
							<article>
								<div>
									<h2>Tab 2</h2>
									<p>Morbi vel massa vel purus volutpat ornare vitae fringilla mi. Aliquam faucibus elit vel enim tempor id gravida lorem tristique. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam imperdiet felis eget mauris tincidunt placerat nec ut mauris. Fusce id massa mi. Vestibulum pulvinar rhoncus velit, in gravida massa faucibus vel. Praesent leo sapien, luctus eu dapibus quis, lacinia nec lectus. Duis quis nisi enim, ornare congue nunc.</p>
								</div>
							</article>
							<aside>
								<p><img src="../img/sample-image-5.jpg"></p>
							</aside>
						</div>
					</section>
				</article>
				<article class="tab-example-3 tab-content">
					<section class="col2-2_1-left">
						<div>
							<article>
								<div>
									<h2>Tab 3</h2>
									<p>Morbi vel massa vel purus volutpat ornare vitae fringilla mi. Aliquam faucibus elit vel enim tempor id gravida lorem tristique. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam imperdiet felis eget mauris tincidunt placerat nec ut mauris. Fusce id massa mi. Vestibulum pulvinar rhoncus velit, in gravida massa faucibus vel. Praesent leo sapien, luctus eu dapibus quis, lacinia nec lectus. Duis quis nisi enim, ornare congue nunc.</p>
								</div>
							</article>
							<aside>
								<p><img src="../img/sample-image-1.gif"></p>
							</aside>
						</div>
					</section>
				</article>
			</section>
			<!-- /Tab Content -->
		</article>
	</div>
</section>
