<!DOCTYPE html>
<html>
<head>
  <title>My Template</title>
  <!-- inject:meta:html -->
  <!-- global meta tags will be here -->
  <!-- endinject -->
</head>
<body>
<!-- inject:header:html --><!-- endinject -->
<!-- inject:cont_2col_14-34_imgrt:html --><!-- endinject --> 
<!-- inject:cont_2col_stack:html --><!-- endinject --> 
<!-- inject:cont_3col:html --><!-- endinject --> 
<!-- inject:cont_3col_stack:html --><!-- endinject --> 
<!-- inject:cont_4col_stack:html --><!-- endinject --> 
<!-- inject:cont_1col:html --><!-- endinject -->
<!-- inject:cont_span_1col:html --><!-- endinject --> 
<!-- inject:cont_span_2col_stack:html --><!-- endinject --> 
<!-- inject:cont_span_3col_stack:html --><!-- endinject --> 
<!-- inject:cont_span_4col_stack:html --><!-- endinject --> 
<!-- inject:cont_span_4col_stack_2x2:html --><!-- endinject --> 
<!-- inject:cont_span_5col_stack:html --><!-- endinject --> 
<!-- inject:cont_span_6col_stack:html --><!-- endinject --> 
<!-- inject:cont_span_6col_stack_2x2:html --><!-- endinject --> 
<!-- inject:cont_1col:html --><!-- endinject --> 
<!-- inject:cont_1col_ctr_lg:html --><!-- endinject --> 
<!-- inject:cont_1col_ctr_md:html --><!-- endinject --> 
<!-- inject:cont_1col_ctr_sm:html --><!-- endinject --> 
<!-- inject:cont_2col:html --><!-- endinject --> 
<!-- inject:cont_2col_12-12_imglt:html --><!-- endinject --> 
<!-- inject:cont_2col_12-12_imgrt:html --><!-- endinject --> 
<!-- inject:cont_2col_13-23_imglt:html --><!-- endinject --> 
<!-- inject:cont_2col_13-23_imgrt:html --><!-- endinject --> 
<!-- inject:cont_2col_14-34_imglt:html --><!-- endinject --> 
<!-- inject:cont_2col_14-34_imgrt:html --><!-- endinject --> 
<!-- inject:cont_2col_stack:html --><!-- endinject --> 
<!-- inject:cont_3col:html --><!-- endinject --> 
<!-- inject:cont_3col_stack:html --><!-- endinject --> 
<!-- inject:cont_4col_stack:html --><!-- endinject --> 
<!-- inject:cont_4col_stack_2x2:html --><!-- endinject --> 
<!-- inject:cont_5col_stack:html --><!-- endinject --> 
<!-- inject:cont_6col_stack_2x3:html --><!-- endinject --> 
<!-- inject:form_custom:html --><!-- endinject --> 
<!-- inject:hero:html --><!-- endinject --> 
maps go here<!-- inject:map:html --><!-- endinject --> 
<!-- inject:tabs:html --><!-- endinject --> 
<!-- inject:tabs_mobile:html --><!-- endinject --> 
<!-- inject:tabs_side:html --><!-- endinject --> 
<!-- inject:footer:html --><!-- endinject -->
</body>
</html>