// Icons

//------------------------------------------------
// Icons

$font_icon-sm: 1em;
$font_icon-sm-med: 1.5em;
$font_icon-med: 2em;
$font_icon-med-lg: 2.5em;
$font_icon-lg: 3em;

.font_icon-sm {
	font-size: $font_icon-sm;
}
.font_icon-sm-med {
	font-size: $font_icon-sm-med;
}
.font_icon-med {
	font-size: $font_icon-med;
}
.font_icon-med-lg {
	font-size: $font_icon-med-lg;
}
.font_icon-lg {
	font-size: $font_icon-lg;
}