
<section class="col3 stack">
	<div>
		<h5>3 Columns, Stacked on Mobile</h5>
		<article>
			<h2>Title</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer sed dapibus enim pellentesque porta commodo justo et interdum.</p>
			<p><img src="../img/sample-image-12.jpg"></p>
		</article>
		<article>
			<h2>Title</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer sed dapibus enim pellentesque porta commodo justo et interdum.</p>
			<p><img src="../img/sample-image-12.jpg"></p>
		</article>
		<article>
			<h2>Title</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer sed dapibus enim pellentesque porta commodo justo et interdum.</p>
			<p><img src="../img/sample-image-12.jpg"></p>
		</article>
	</div>
</section>

<section class="col3 stack">
	<div>
		<h5>3 Columns, Stacked on Mobile</h5>
		<article>
			<h2>Title</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer sed dapibus enim pellentesque porta commodo justo et interdum.</p>
			<p><img src="../img/sample-image-12.jpg"></p>
		</article>
		<article>
			<h2>Title</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer sed dapibus enim pellentesque porta commodo justo et interdum.</p>
			<p><img src="../img/sample-image-12.jpg"></p>
		</article>
		<article>
			<h2>Title</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer sed dapibus enim pellentesque porta commodo justo et interdum.</p>
			<p><img src="../img/sample-image-12.jpg"></p>
		</article>
	</div>
</section>
