
<section class="col2-1_1-left height300">
	<div>
		<h5>2 Columns, 1/2:1/2, Content Left, Stacked on Mobile</h5>
		<article>
			<div class="centerV">
				<h3>Lorem ipsum dolor sit</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer sed dapibus enim pellentesque porta commodo justo et interdum. Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer sed dapibus enim pellentesque porta commodo justo et interdum.</p>
			</div>
		</article>
		<aside>
			<p><img src="../img/sample-image-12.jpg"></p>
		</aside>
	</div>
</section>
