
<section class="col5 stack">
	<div>
		<h5>5 Columns, Stacked on Mobile</h5>
		<article>
			<h3>Title</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer sed dapibus enim pellentesque porta commodo justo et interdum.</p>
			<p><img src="../img/sample-image-12.jpg"></p>
		</article>
		<article>
			<h3>Title</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer sed dapibus enim pellentesque porta commodo justo et interdum.</p>
			<p><img src="../img/sample-image-12.jpg"></p>
		</article>
		<article>
			<h3>Title</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer sed dapibus enim pellentesque porta commodo justo et interdum.</p>
			<p><img src="../img/sample-image-12.jpg"></p>
		</article>
		<article>
			<h3>Title</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer sed dapibus enim pellentesque porta commodo justo et interdum.</p>
			<p><img src="../img/sample-image-12.jpg"></p>
		</article>
		<article>
			<h3>Title</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer sed dapibus enim pellentesque porta commodo justo et interdum.</p>
			<p><img src="../img/sample-image-12.jpg"></p>
		</article>
	</div>
</section>