

<section class="col2-3_1-left">
	<div>
		<h5>2 Columns, 1/4:3/4, Content Left, Stacked on Mobile</h5>
		<article>
			<h3>Lorem ipsum dolor sit</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer sed dapibus enim pellentesque porta commodo justo et interdum. Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer sed dapibus enim pellentesque porta commodo justo et interdum.</p>
		</article>
		<aside>
			<p><img src="../img/sample-image-12.jpg"></p>
		</aside>
	</div>
</section>
