<section class="col6">
	<div>
		<article>
			<p>Text</p>
			<p><img src="./img/sample-image-12.jpg"></p>
		</article>
		<article>
			<p>Text</p>
			<p><img src="./img/sample-image-12.jpg"></p>
		</article>
		<article>
			<p>Text</p>
			<p><img src="./img/sample-image-12.jpg"></p>
		</article>
		<article>
			<p>Text</p>
			<p><img src="./img/sample-image-12.jpg"></p>
		</article>
		<article>
			<p>Text</p>
			<p><img src="./img/sample-image-12.jpg"></p>
		</article>
		<article>
			<p>Text</p>
			<p><img src="./img/sample-image-12.jpg"></p>
		</article>
	</div>
</section>