<section class="center-lg">
	<div>
		<h5>Custom Style 1</h5>
		<p>Description...</p>
		<p><b>Text</b></p>
		<article>
			<div class="form-input-row form-style-1">
				<ol>
					<li>
						<label for="example-input-106">I want to</label>
						<div class="input-container">
							<div class="input-underline">&nbsp;</div>
							<input id="example-input-106" type="text" placeholder="your legal need here">
						</div>
					</li>
				</ol>
			</div>
		</article>
		<article>
			<div class="form-input-row form-style-1"
				<ol>
					<li>
						<label for="example-input-107">In the state of</label>
						<div class="input-container">
							<div class="input-underline">&nbsp;</div>
							<input id="example-input-107" class="form-autocomplete" data-min-chars="0" data-selection-lowercase="no" type="text" placeholder="enter state">
						</div>
						<script>
							var data_example_input_107 = [
								{value: '1', display: 'Alabama', tags: 'Alabama, AL'},
								{value: '2', display: 'Alaska', tags: 'Alaska, AK'},
								{value: '4', display: 'Arizona', tags: 'Arizona, AZ'},
								{value: '5', display: 'Arkansas', tags: 'Arkansas, AR'},
								{value: '6', display: 'California', tags: 'California, CA'},
								{value: '8', display: 'Colorado', tags: 'Colorado, CO'},
								{value: '9', display: 'Connecticut', tags: 'Connecticut, CT'},
								{value: '10', display: 'Delaware', tags: 'Delaware, DE'},
								{value: '53', display: 'Washington', tags: 'Washington, WA, Wn'},
								{value: '11', display: 'District of Columbia', tags: 'District of Columbia, Wash DC, DC'},
								{value: '12', display: 'Florida', tags: 'Florida, FL'},
								{value: '13', display: 'Georgia', tags: 'Georgia, GA'},
								{value: '15', display: 'Hawaii', tags: 'Hawaii, HI, zzz'},
								{value: '16', display: 'Idaho', tags: 'Idaho, ID'},
								{value: '17', display: 'Illinois', tags: 'Illinois, IL'},
								{value: '18', display: 'Indiana', tags: 'Indiana, IN'},
								{value: '19', display: 'Iowa', tags: 'Iowa, IA, Ioa'},
								{value: '20', display: 'Kansas', tags: 'Kansas, KS'},
								{value: '21', display: 'Kentucky', tags: 'Kentucky, KY'},
								{value: '22', display: 'Louisiana', tags: 'Louisiana, LA'},
								{value: '23', display: 'Maine', tags: 'Maine, ME'},
								{value: '24', display: 'Maryland', tags: 'Maryland, MD'},
								{value: '25', display: 'Massachusetts', tags: 'Massachusetts, MA'},
								{value: '26', display: 'Michigan', tags: 'Michigan, MI'},
								{value: '27', display: 'Minnesota', tags: 'Minnesota, MN'},
								{value: '28', display: 'Mississippi', tags: 'Mississippi, MS'},
								{value: '29', display: 'Missouri', tags: 'Missouri, MO'},
								{value: '30', display: 'Montana', tags: 'Montana, MT'},
								{value: '31', display: 'Nebraska', tags: 'Nebraska, NE'},
								{value: '32', display: 'Nevada', tags: 'Nevada, NV'},
								{value: '33', display: 'New Hampshire', tags: 'New Hampshire, Hampshire, NH'},
								{value: '34', display: 'New Jersey', tags: 'New Jersey, NJ, Jersey'},
								{value: '35', display: 'New Mexico', tags: 'New Mexico, Mexico, NM, N Mexico'},
								{value: '36', display: 'New York', tags: 'New York, NY, N York, york'},
								{value: '37', display: 'North Carolina', tags: 'North Carolina, NC, N Carolina, Carolina'},
								{value: '38', display: 'North Dakota', tags: 'North Dakota, ND, N Dakota, NoDak, Dakota'},
								{value: '39', display: 'Ohio', tags: 'Ohio, OH'},
								{value: '40', display: 'Oklahoma', tags: 'Oklahoma, OK'},
								{value: '41', display: 'Oregon', tags: 'Oregon, OR'},
								{value: '42', display: 'Pennsylvania', tags: 'Pennsylvania, PA, Penna'},
								{value: '44', display: 'Rhode Island', tags: 'Rhode Island, RI, R Island'},
								{value: '45', display: 'South Carolina', tags: 'South Carolina, SC, S Carolina, Carolina'},
								{value: '46', display: 'South Dakota', tags: 'South Dakota, SD, S Dakota, Dakota, SoDak'},
								{value: '47', display: 'Tennessee', tags: 'Tennessee, TN'},
								{value: '48', display: 'Texas', tags: 'Texas, TX'},
								{value: '49', display: 'Utah', tags: 'Utah, UT'},
								{value: '50', display: 'Vermont', tags: 'Vermont, VT'},
								{value: '51', display: 'Virginia', tags: 'Virginia, VA'},
								{value: '54', display: 'West Virginia', tags: 'West Virginia, WV, W Va, WVa, W Virginia, virginia'},
								{value: '55', display: 'Wisconsin', tags: 'Wisconsin, WI'},
								{value: '56', display: 'Wyoming', tags: 'Wyoming, WY'}
							];
						</script>
					</li>
				</ol>
			</div>
		</article>
		<article>
			<div class="form-input-row form-style-1">
				<ol>
					<li>
						<label for="example-input-98">I want to</label>
						<!--<div class="input-container">-->
							<div class="select-input">
								<div class="select-input-border">&nbsp;</div>
								<div class="form-icon"><i class="font_icon font_icon-sm icon-arrow-down"></i></div>
								<select id="example-input-98">
									<option>choose option</option>
									<option>Option 2</option>
									<option>Option 3</option>
									<option>Option 4</option>
									<option>Option 5</option>
									<option>Option 6</option>
									<option>Option 7</option>
									<option>Option 8</option>
									<option>Option 9</option>
									<option>Option 10</option>
								</select>
							</div>
						<!--</div>-->
					</li>
				</ol>
			</div>
		</article>
	</div>
</section>
