<div class="header">
	<header class="header-top">
		<div class="tagline">
			<a href="#">Legal help is here.</a>
		</div>
		<div class="nav-level-3">
			<ul>
				<li class="nav-search"><input type="text" placeholder="Search"><button><i class="font_icon font_icon-sm icon-search"></i></button></li>
				<li class="nav-contact_us desktop-only"><a href="#">Need help?</a></li>
				<li class="nav-satisfaction_guarantee modal-link desktop-only" data-modal="modal-satisfaction_guarantee"><a href="#">Our Satisfaction Guarantee</a></li>
			</ul>
		</div>
	</header>
</div>