<section>
	<div>
		<article>
			<div class="scroll-motion" 
				style="
					width: 100%;
					height: 20vh;
					color: #fff;
					margin: auto;
					text-align:center;
					line-height: 20vh;
					background-image: url('./img/sample-image-7.jpg');
					background-color: rgb(3,0,119);
					background-size: cover;
					background-position: 50% 50%;
					background-blend-mode: overlay;
				"
				data-0="
					background-color: rgb(3,0,119);
					width: 100%;
					height: 20vh;
					font-size: 1em;
					line-height: 20vh;
				"
				data-top="
					background-color: rgb(150,0,0);
					width: 60%;
					height: 100vh;
					font-size: 5em;
					line-height: 100vh;
				"
			>
				Wheeeeeeeeee!
			</div>
		</article>
	</div>
</section>