
<section class="center-lg nopad">
	<div>
		<article>
			<section class="span2-3_1-right nopad">
				<div>
					<article>
						<!-- Tab Content -->
						<section class="tabs_content tabs-mobile-off">
							<article class="tab-example-7 tab-content active">
								<section class="col2-2_1-left">
									<div>
										<article>
											<div>
												<h2>Tab 1</h2>
												<p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer sed dapibus enim pellentesque porta commodo justo et interdum. Morbi vel massa vel purus volutpat ornare vitae fringilla mi. Aliquam faucibus elit vel enim tempor id gravida lorem tristique. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam imperdiet felis eget mauris tincidunt placerat nec ut mauris.</p>
											</div>
										</article>
										<aside>
											<p><img src="../img/sample-image-4.jpg"></p>
										</aside>
									</div>
								</section>
							</article>
							<article class="tab-example-8 tab-content">
								<section class="col2-1_1-left">
									<div>
										<article>
											<div>
												<h2>Tab 2</h2>
												<p>Morbi vel massa vel purus volutpat ornare vitae fringilla mi. Aliquam faucibus elit vel enim tempor id gravida lorem tristique. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam imperdiet felis eget mauris tincidunt placerat nec ut mauris. Fusce id massa mi. Vestibulum pulvinar rhoncus velit, in gravida massa faucibus vel. Praesent leo sapien, luctus eu dapibus quis, lacinia nec lectus. Duis quis nisi enim, ornare congue nunc.</p>
											</div>
										</article>
										<aside>
											<p><img src="../img/sample-image-5.jpg"></p>
										</aside>
									</div>
								</section>
							</article>
							<article class="tab-example-9 tab-content">
								<section class="col2-2_1-left">
									<div>
										<article>
											<div>
												<h2>Tab 3</h2>
												<p>Morbi vel massa vel purus volutpat ornare vitae fringilla mi. Aliquam faucibus elit vel enim tempor id gravida lorem tristique. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam imperdiet felis eget mauris tincidunt placerat nec ut mauris. Fusce id massa mi. Vestibulum pulvinar rhoncus velit, in gravida massa faucibus vel. Praesent leo sapien, luctus eu dapibus quis, lacinia nec lectus. Duis quis nisi enim, ornare congue nunc.</p>
											</div>
										</article>
										<aside>
											<p><img src="../img/sample-image-1.gif"></p>
										</aside>
									</div>
								</section>
							</article>
						</section>
						<!-- /Tab Content -->
					</article>
					<aside>
						<!-- Tab Links -->
						<section class="tabs tabs-vertical tabs-mobile-off">
							<article>
								<section>
									<article data-tab="tab-example-7" class="tab-link active">
										<a>
											<ul class="icon_list icon_list-sm">
												<li>
													<i class="font_icon font_icon-sm icon-check"></i> List Item
													<p>Lorem ipsum dolor sit amet consecet</p>
												</li>
											</ul>
										</a>
									</article>
									<article data-tab="tab-example-8" class="tab-link">
										<a>
											<ul class="icon_list icon_list-sm">
												<li>
													<i class="font_icon font_icon-sm icon-check"></i> List Item
													<p>Lorem ipsum dolor sit amet consecet</p>
												</li>
											</ul>
										</a>
									</article>
									<article data-tab="tab-example-9" class="tab-link">
										<a>
											<ul class="icon_list icon_list-sm">
												<li>
													<i class="font_icon font_icon-sm icon-check"></i> List Item
													<p>Lorem ipsum dolor sit amet consecet</p>
												</li>
											</ul>
										</a>
									</article>
									<!--
									<article data-tab="tab-example-8" class="tab-link"><a><i class="font_icon font_icon-sm icon-chat"></i> Reviews</a></article>
									<article data-tab="tab-example-9" class="tab-link"><a><i class="font_icon font_icon-sm icon-document"></i> Samples</a></article>
									<article data-tab="tab-example-10" class="tab-link"><a><i class="font_icon font_icon-sm icon-price_tag"></i> More Stuff</a></article>
									-->
								</section>
							</article>
						</section>
						<!-- /Tab Links -->
					</aside>
				</div>
			</section>
		</article>
	</div>
</section>