/**
 * Grid settings.
 * All values are defaults and can therefore be easily overidden.
 */

// $jeet-gutter:		3;
$jeet-gutter:			2;
$jeet-parent-first:		false;
$jeet-layout-direction: "LTR";
$jeet-max-width:		1410px;