<section class="col6">
	<div>
		<h5>6 Columns, Stacked to 2 Columns on Mobile</h5>
		<article>
			<p>Text</p>
			<p><img src="../img/sample-image-12.jpg"></p>
		</article>
		<article>
			<p>Text</p>
			<p><img src="../img/sample-image-12.jpg"></p>
		</article>
		<article>
			<p>Text</p>
			<p><img src="../img/sample-image-12.jpg"></p>
		</article>
		<article>
			<p>Text</p>
			<p><img src="../img/sample-image-12.jpg"></p>
		</article>
		<article>
			<p>Text</p>
			<p><img src="../img/sample-image-12.jpg"></p>
		</article>
		<article>
			<p>Text</p>
			<p><img src="../img/sample-image-12.jpg"></p>
		</article>
	</div>
</section>
