
<section class="col4 stack">
	<div>
		<h5>4 Columns, Stacked on Mobile</h5>
		<p>There is no standard non-stacked mobile version for 4+ columns.</p>
		<article>
			<h2>Title</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer sed dapibus enim pellentesque porta commodo justo et interdum.</p>
			<p><img src="../img/sample-image-12.jpg"></p>
		</article>
		<article>
			<h2>Title</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer sed dapibus enim pellentesque porta commodo justo et interdum.</p>
			<p><img src="../img/sample-image-12.jpg"></p>
		</article>
		<article>
			<h2>Title</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer sed dapibus enim pellentesque porta commodo justo et interdum.</p>
			<p><img src="../img/sample-image-12.jpg"></p>
		</article>
		<article>
			<h2>Title</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer sed dapibus enim pellentesque porta commodo justo et interdum.</p>
			<p><img src="../img/sample-image-12.jpg"></p>
		</article>
	</div>
</section>
